<narik-busy-indicator [isBusy]="isBusy">
  <div [auto-focus] class="login-container">
    <div class="card login-card">
      <div class="card-body">
        <h5 class="card-title">{{ "login.change_Pass" | translate }}</h5>
        <div>
          <form>
            <narik-input
              prefixIcon="lock"
              [placeHolder]="'login.old-password' | translate"
              [(ngModel)]="loginModel.oldPassword"
              name="password"
              [label]="'login.old-password' | translate"
              type="password"
            >
            </narik-input>

            <narik-input
              prefixIcon="lock"
              [placeHolder]="'login.password_placeHolder' | translate"
              [(ngModel)]="loginModel.password"
              name="password"
              [label]="'login.password' | translate"
              type="password"
            >
            </narik-input>

            <narik-input
              prefixIcon="lock"
              [placeHolder]="'login.re-password' | translate"
              [(ngModel)]="loginModel.rePassword"
              name="password"
              [label]="'login.re-password' | translate"
              type="password"
            >
            </narik-input>
          </form>
        </div>
      </div>
      <div align="center">
        <narik-button
          (nClick)="doChangePassword()"
          [isBusy]="isBusy"
          label=" {{ 'dialog-buttons.ok' | translate }}"
          color="primary"
        >
        </narik-button>
        <narik-button
          class="ml-2"
          (nClick)="dialog.close()"
          label=" {{ 'dialog-buttons.cancel' | translate }}"
          color="warn"
        >
        </narik-button>
      </div>
    </div>
  </div>
</narik-busy-indicator>
